/*----------------------------------------
    Accordion
-----------------------------------------*/

.color-accordion-section .accordion-primary {
    .card-body {
        background-color: $white-color;
        padding-bottom: 1.3rem;
    }
}

.icon-accordion-section {
    margin-bottom: 3.7rem;
}