.margin_from_nav {
    margin-top: 150px !important;
    margin-bottom: 25px !important
  }

  .page_heading{
    font-size: 22px !important;
    text-transform: capitalize !important;
    font-weight: bold;
    color: black !important;
  }

  
  .page_heading h4{
    font-size: 22px !important;
    text-transform: capitalize !important;
    font-weight: bold;
    color: black !important;
    padding-bottom: 18px !important;
  }

  .item_action_link{
    margin-left: -4px;
  }

  .line-height{
    line-height: 1;
  }

  p{
    line-height: 1 !important;
  }


  .price_request{
    color: white !important;
    background-color: #0071dc !important;
    padding: 6px 0px;
    margin: 2px 0px !important;
    margin-left: 5px !important;
    width: 120px !important;
  }


  @media only screen and (max-width: 600px) {
    .margin_from_nav {
      margin-top: 90px !important;
      margin-bottom: 25px !important
    }
  }