/* ----------------------------------------
    Element Category Page
------------------------------------------*/

.category-default {
    img {
        min-height: 20rem;
    }

    .category-content {
        #{$left}: 3rem;
    }

    .category-title {
        margin-bottom: 0;
        font-size: 2.2em;
    }

    .category-count {
        opacity: .6;
        line-height: 1.2;
    }
}

.category-ellipse-section {
    margin-bottom: 5.2rem;
}

.category-classic-section {
    background-color: $white-color;
}

.category-masonry-section {
    padding-bottom: 3.7rem;

    .category-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(100% / 4));
        margin: -1rem;

        >* {
            padding: 1rem;
        }
    }

    .grid-item1 {
        grid-column-end: span 2;
        grid-row-end: span 2;
    }

    .grid-item2 {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }

    .grid-item3 {
        grid-column-end: span 1;
        grid-row-end: span 2;

        .category-banner,
        figure,
        img {
            height: 100%;
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .category-masonry-section {
        .category-grid {
            grid-template-columns: repeat(auto-fill, calc(100% / 3));
        }

        .grid-item3 {
            grid-row-start: 1;
            grid-column-start: 3;
            grid-row-end: span 3;
        }
    }
}

@include mq(md, max) {
    .category-masonry-section {
        .category-grid {
            grid-template-columns: repeat(auto-fill, calc(100% / 2));
        }
    }
}

@include mq(sm, max) {
    .page-title {
        font-size: 3rem;
    }

    .page-subtitle {
        font-size: 1.2rem;
    }
}

@include mq(xs, max) {
    .category-masonry-section {

        .grid-item2,
        .grid-item3 {
            grid-row-end: span 1;
            grid-column-end: span 2;
        }
    }
}

.topcategory_row {
    justify-content: center;
}

.topcat_banner {
    height: 550px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    .topcat_banner {
        height: 200px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1100px) {
    .topcat_banner {
        height: 440px;
    }
}

@media only screen and (min-device-width: 1101px) and (max-device-width: 1200px) {
    .topcat_banner {
        height: 515px;
    }
}

.hometopcat_banner {
    height: 320px;
}

.category_heading {
    padding-top: 90px;
    margin-bottom: 50px;
    font-size: 48px;
    text-transform: uppercase;
}

.top_categories {
    background-color: $white-color;
    padding-bottom: 80px;
}

// .top_categories_section {
//     padding-bottom: 80px;
// }

.homecategory_btn1 {
    top: 76%;
    left: 44%;
    margin-top: 10px;
}

.homecategory_btn2 {
    top: 66%;
    left: 79%;
}

.homecategory_btn3 {
    top: 66%;
    left: 6%;
}

.homecategory_btnlink {
    color: $black-color !important;
    font-size: 16px !important;
    text-decoration: underline !important;
    font-weight: 600;
}

.displaytag-container {
    margin-top: 30px;
}

.displaytag-list {
    width: 220px;
}