/*-------------------------
   Compare page
-------------------------*/
// Compare Popup
.compare-popup {
    position: fixed;
    top: 100%;
    #{$left}: 0;
    #{$right}: 0;
    padding: 2rem 0;
    background: $white-color;
    transition: transform 0.3s;
    z-index: 2400;
    .container {
        display: flex;
        align-items: center;
        padding-top: 2.1rem;
        padding-bottom: 3.1rem;
    }
    .btn-clean {
        margin-#{$right}: 1.8rem;
        padding: 0;
        border: none;
        text-transform: capitalize;
        font-weight: 400;
        &:hover, &:active, &:focus {
            color: $primary-color;
            background-color: $white-color;
        }
    }
    &.show {
        transform: translateY(-99%);
        & + .compare-popup-overlay {
            opacity: 0.7;
            visibility: visible;
            transition: opacity 0.3s;
        }
    }
}

.compare-title {
    margin-top: .8rem;
    .title {
        margin-bottom: .3rem;
        font-size: 2.4rem;
        font-weight: 700;
        white-space: nowrap;
    }
}

.compare-product-list {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: .9rem 2rem 0;
    padding: 0;
    li {
        position: relative;
        width: 8vw;
        max-width: 138px;
        min-height: 8vw;
        &:not(:first-child) {
            margin-#{$left}: 3rem;
        }
        &:empty::before {
            content: "+";
            position: absolute;
            #{$left}: 50%;
            top: 50%;
            transform: translate(if-ltr(-50%,50%),-50%);
            text-align: center;
            line-height: 5rem;
            font-size: 3rem;
            color: $border-color;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            box-shadow: 2px 4px 15px rgba(0,0,0,0.12);
        }
        &::after {
            content: '';
            position: absolute;
            border: 1px solid $border-color;
            top: 0;
            #{$left}: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    .btn-remove {
        position: absolute;
        padding: 0;
        #{$right}: -1rem;
        top: -1rem;
        line-height: 1.2;
        width: 20px;
        height: 20px;
        font-size: 1.5rem;
        border-radius: 50%;
        border: none;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
        overflow: hidden;
        i {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0;
        }
        &:hover, &:active, &:focus {
            background-color: $white-color;
        }
    }
}

.compare-popup-overlay {
    position: fixed;
    top: 0;
    #{$left}: 0;
    #{$right}: 0;
    bottom: 0;
    background: $black-color;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s,visibility 0.3s;
    z-index: 2399;
}

// Compare Table
.compare-table {
    overflow-x: auto;
    > div:nth-child(2n) .compare-col {
        background-color: $border-color;
    }
    .compare-row {
        display: flex;
        flex-wrap: nowrap;
    }
}

.compare-product .product-media {
    border: 1px solid $grey-color-light;
}

.compare-col {
    padding: side-values(2.5rem 0 2.5rem 2rem);
    &.compare-product {
        text-align: center;
    }
    &.compare-field {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: end;
        padding-#{$right}: 5rem;
        font-weight: 400;
        color: $light-color;
    }
    &.compare-value {
        padding-#{$right}: 1rem;
    }
    .remove-product {
        margin-bottom: 2.4rem;
        padding: 0;
        border: none;
        color: $dark-color;
        i {
            font-size: 2.2rem;
        }
        &:hover,
        &:focus,
        &:active {
            background-color: transparent;
            color: $primary-color;
        }
    }
    .product-details {
        padding: 1.6rem 0 .7rem;
    }
    .product-price {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0;
    }
    .new-price {
        margin-#{$right}: 0;
        color: $primary-color;
    }
    .old-price {
        color: $light-color;
    }
}

.compare-availability .compare-value {
    color: $themeternary-btncolor;
}

.compare-description {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        color: $dark-color;
        line-height: 1.6;
        &::before {
            font-size: 1.4rem;
        }
    }
}

.compare-rating {
    display: flex;
    .ratings-container {
        width: 100%;
        margin-bottom: 0;
        font-size: 1.4rem;
    }
}

.compare-category,
.compare-meta,
.compare-size,
.compare-brand {
    .compare-value {
        color: $dark-color;
    }
}

.compare-color .swatch {
    vertical-align: middle;
    margin-#{$right}: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 50%;
}

@include mq(1921px) {
    .compare-product-list li {
        max-height: 15.5rem;
        max-width: none;
        figure, img {
            height: 100%;
            width: 100%;
        }
    }
}

@include mq(lg, max) {
    .compare-popup .container {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .compare-product-list {
        flex: 0 0 100%;
        justify-content: center;
        margin: 2rem 0;
        li {
            width: 18vw;
            min-height: 11rem;
        }
    }
}

@media (max-width: 991) and (min-width: 480px) {
    .compare-title {
        display: flex;
    
    }
}

@include mq(md, max) {
    .compare-col.compare-field {
        max-width: 15rem;
        padding-#{$right}: 1rem;
        padding-#{$left}: 1rem;
    }
}

@include mq(sm, max) {  
    .compare-product-list li {
        min-height: 6rem;
        &:not(:first-child) {
            margin-#{$left}: 1.5rem;
        }
    }
}

@include mq(xs, max) {
    .compare-product-list li:empty::before {
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        font-size: 2rem;
    }
}