.ledger-table-header {
    width: 10% !important;
}

.dealer-ledger-container {
    // margin: 70px 0px !important;
}

.ledger-submit-button {
    border: 1px solid #0071dc !important;
    color: $black-color !important;

}

.ledger-submit-button:hover {
    background-color: #0071dc!important;
    color: $white-color !important;
}

.dealer-ledger-td-l {
    padding-left: 10px !important;
}


.dealer-ledger-td-r {
    padding-right: 10px !important;
}
.dealer-heading{
    font-size: 24px !important;
}

@media screen and (min-width: 580px) {
.dealer-ledger-table {
    overflow-x: hidden !important; 
}
  }


  


  @media only screen and (max-width: 600px) {
    .dealer-account-container-mob {
      margin-top: 20px !important;
    }
    .dealer-todate-mob{
        margin-left: -60px !important;
        // background-color: red;
    }
  }