/*--------------------------
    Error 404
--------------------------*/

.error-404 {
    padding-top: 14.5rem;
    padding-bottom: 10rem;
    background-color: $white-color;
    figure {
        margin: 0 auto;
        max-width: 82rem;
    }
    .banner-content {
        margin-top: 5.5rem;
    }
    .banner-title {
        margin-bottom: .8rem;
    }
    p {
        margin-bottom: 3.3rem;
    }
}