/*----------------------------------------
    Icons
-----------------------------------------*/
.wolmart-icons {
    color: $dark-color;
    font-size: 1.6rem;
    line-height: 2.5;
    i, .icon-name {
        display: inline-block;
        vertical-align: middle;
    }
    i {
        margin-#{$right}: .5rem;
    }
}

.icon-page .element-section {
    padding-top: .7rem;
}