.ageingreport-table {
    border-collapse: "collapse"; 
    width: 100%;

}
.showmodal_button {
    background: none;
    border: none;
}
.download-link {
    text-decoration: underline;
    cursor: pointer;
}
.profile_heading {
    font-weight: 1000;
    font-size: 20px;
}

.tab_width.active{
    background-color: #6cb1f2 !important;
}

