.ageingreport-table {
    border-collapse: "collapse"; 
    width: 100%;

}
.showmodal_button {
    background: none;
    border: none;
}
.download-link {
    text-decoration: underline;
    cursor: pointer;
}
.profile_heading {
    font-weight: 1000;
    font-size: 20px;
}

.tab_width.active{
    background-color: #3e9df6 !important;
}

.nav_tabs_list.active h6{
    color: $white-color!important;
}

.profile_tab-icons {
    font-size: 30px !important;
    margin-bottom: 4px !important;
}

@media only screen and (max-width:500px){
.profile_tab-icons {
    font-size: 40px !important;
    margin-bottom: 4px !important;
}
}