.change_pwd {
    max-width: 800px;
    width: 100%;
    margin: 139px auto 20px auto;
    
}

.password_block {
    text-align: left;
}

.password_field::placeholder {
    color:#666 !important;
    font-size: 14px;  
}
.password_field::-moz-placeholder {
    color:#666 !important;
    font-size: 14px;  
}
.password_field::-webkit-input-placeholder {
    color:#666 !important;
    font-size: 14px; 
}
.password_field {
    width: 70%;
    /* display: block; */
    color: #5a5858;
    border-radius: 0;
    /* border-color: #ced4da; */
    border: 1px solid #ced4da;
    height: calc(2.1rem + 2px);
    font-size: 1.5rem;
}

.password_field:focus{
    outline:none ;
}
.custom-btn .btn-back {
    border-color: #ffc700;
    margin-right: 10px;
    border-radius: 0;
}

 .label {
    color:#666 !important;
    font-size: 14px;
    font-weight: 600 !important;
}
.error_message {
    color:red;
    font-size: 11px;
}
/* .pwd_height{
    height: 50px;
} */


.change_pwdh4 {
    font-size: 19px; 
    font-weight: 700;
    color: #000;
}
.changepwd_btn {
border-radius: 0;
font-size: 14px;
}
@media(max-width:991px){
    .password_block {
        text-align: center;
    }
    .label {
        text-align: left !important;
        margin-left: 38px;
    }
}