/*----------------------------------------
    Wishlist Page
----------------------------------------*/
.wishlist-page {
    .wishlist-title {
        margin-bottom: 2.4rem;
        line-height: 1.6;
        letter-spacing: -.015em;
    }
    .social-links {
        margin-bottom: 2.8rem;
        padding: 2.2rem 0;
        label {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $dark-color;
            margin-#{$right}: 1.6rem;
            letter-spacing: -.01em;
        }
    }
    .social-icon {
        margin-#{$right}: .8rem;
    }
}

// Shop Table
.shop-table {
    text-align: start;
    tbody {
        border-bottom: 1px solid $border-color;
    }
    td {
        padding: side-values(2rem 0 2rem 0);
        border-top: 1px solid $border-color;
        font-size: 1.4rem;
    }
    tbody td:not(:first-child),
    thead th:not(:first-child) {
        padding-#{$left}: 1rem;
    }
    .product-thumbnail {
        width: 11rem;
        padding-#{$right}: 1rem;
    }
    .product-name {
        white-space: normal;
        word-break: break-word;
    }
    .product-thumbnail {
        a {
            position: relative;
        }
    }
    th {
        padding: 1.7rem 0 1.3rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: $dark-color;
        text-transform: capitalize;
        line-height: 1.6;
        letter-spacing: 0;
    }
    img {
        display: block;
        max-width: 100px;
    }
    .product-thumbnail > div {
        display: block;
        max-width: 10rem;
        width: 100%;
    }
    .btn-close {
        position: absolute;
        padding: 0;
        background: $white-color;
        border: 2px solid $white-color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
        top: -14px;
        #{$right}: -8px;
        i {
            color: #333;
            font-size: 12px;
            font-weight: 600;
            margin-#{$left}: 0; 
        }
        &:hover {
            background-color: $white-color;
            i {
                color: $primary-color;
            }
        }
    }
}

.wishlist-table {
    .new-price {
        color: $dark-color;
    }
    .wishlist-in-stock {
        color: $primary-color;
    }
    .wishlist-out-stock {
        color: $secondary-color;
    }
    .btn-sm {
        padding: 0.77em 2.07em;
    }
    .btn-quickview {
        padding-top: .85em;
        padding-bottom: .85em;
        border: 1px solid $white-color;
        color: $dark-color;
        &:hover {
            background-color: $white-color;
            border-color: $border-color;
        }
    }
    .product-price {
        width: 15.17%;
    }
    .product-stock-status {
        width: 19.84%;
    }
    .wishlist-action {
        width: 24.19%;
    }
}

@include mq('md', 'max') {
    .shop-table:not(.account-orders-table) {
        text-align: center;
        thead {
            display: none;
        }
        tbody {
            border: 1px solid $border-color;
        }
        tbody, tr, td {
            display: block;
        }
        tr {
            position: relative;
            padding: 4.2rem 2rem 4rem;
            & + tr {
                border-top: 1px solid $border-color;
            }
        }
        td {
            padding: 0;
            border: none;
        }
        td.product-thumbnail,
        .product-quantity {
            margin-bottom: 1rem;
            width: auto;
        }
        td.product-thumbnail {
            padding-#{$right}: 0;
        }
        .product-name, .product-price, .product-stock-status {
            margin-bottom: 1rem;
        }
        .product-thumbnail > div, td {
            margin-#{$left}: auto;
            margin-#{$right}: auto;
        }
        .product-thumbnail > div {
            max-width: 30rem;
            img {
                max-width: 100%;
            }
        }
        .product-stock-status,
        .wishlist-action {
            width: auto;
        }
        tbody td:not(:first-child),
        thead th:not(:first-child) {
            padding-#{$left}: 0;
        }
    }
}
.wishlist-container {
    margin-top: 70px;
    margin-bottom: 70px;
}
.price_request {
    width: 150px;
    text-align: center;
    background:$warning-color;
    color: $black-color;
    border-radius: 5px;
}
.icon-cursor {
    cursor: pointer;
}
.input-width {
 width: 37%;
}
.horizantal-line {
    border: 1px solid $body-color;
}
.wishlisttable-header {
    background: $secondary-color-light;
    color:$black-color;
    padding: 3px;
}
.error-color {
    color: $error-color;
}
.delete-link {
    margin-top: 46px;
    // color: $secondary-color-light;
    color: $secondaryTheme-secondarycolor;
    text-decoration: underline;
}
.delete-link:hover {
    color: $warning-color !important;
}