.change_pwd {
    max-width: 800px;
    width: 100%;
    margin: 100px auto 40px auto;
    
}

.password_block {
    text-align: left;
}

.password_field::placeholder {
    color:$body-color !important;
    font-size: 14px;  
}
.password_field::-moz-placeholder {
    color:$body-color  !important;
    font-size: 14px;  
}
.password_field::-webkit-input-placeholder {
    color:$body-color !important;
    font-size: 14px; 
}
.password_field {
    width: 54%;
    /* display: block; */
    color: $body-color;
    border-radius: 0;
    /* border-color: #ced4da; */
    border: 1px solid $border-color-light;
    height: calc(4rem - 2px);
    font-size: 0.95rem;
}

.password_field:focus{
    outline:none ;
}
.custom-btn .btn-back {
    border-color: $themeternary-btncolor;
    margin-right: 10px;
    border-radius: 0;
}

 .label {
    color:$body-color !important;
    font-size: 14px;
    font-weight: 600 !important;
}
.error_message {
    color:$error-color;
    font-size: 11px;
}
/* .pwd_height{
    height: 50px;
} */
.custom_btn .btn_back {
    margin-right: 10px;
    border-radius: 0;
    border: 1px solid $themeternary-btncolor;

}

.custom_btn .btn_back:hover {
    background-color: $themeternary-btncolor;
   
}
.change_pwdh4 {
    font-size: 19px; 
    font-weight: 700;
    color: $black-color;
}
.changepwd_btn {
border-radius: 0;
font-size: 14px;
}
@media(max-width:991px){
    .password_block {
        text-align: center;
    }
    .label {
        text-align: left !important;
        margin-left: 38px;
    }
}