.bill_checkbox {
  cursor: pointer;
}

.ship_heading {
  cursor: pointer;
  /* padding: 0 20px; */
}

.ship_edit {
  padding-top: 30px;
}

.bill_edit {
  padding-top: 30px;
}

.bill_heading {
  cursor: pointer;
}

.button_color {
  background-color: #0071DC !important;
  // color: $black-color !important;
  color: $white-color !important;
  border: none !important;
}

.standard_button {
  border: 1px solid #0071dc !important;
  color: #000 !important;
  border-radius: 7px !important;
  background-color: #fff !important;
}
.standard_button_filled
{
  background-color: #0071DC !important;
  color:#fff !important;
  border-radius: 7px !important;
}

.address_button {
  background-color: #33669a !important;
  color: $white-color !important;
  border: none !important;
}

.selected_address_button {
  background-color: $primary-color !important;
  color: $white-color !important;
  border: none !important;
}

.address_icon {
  border: none;
  background: none;
  /* font-size: 10px; */
}

.card_p {
  font-size: 14px;
  color:black !important;
  // margin-top: -5px;
}

/* order sumamry */

.cart_p {
  margin: -6px 0px;
  font-size: 12px;
}

.summary_p {
  margin: -6px 0px;
}

/* visitor checkout */

.order_summary_sec {
  margin-top: 69px;
}


.shipping-margin-top{
  margin-top: -15px !important;
  margin-left: -14px;
}

.shipping-method-margin{
  margin-top: 0px !important;
  // line-height: 1;
}
// .checkbox-margin{
//   margin-left: -20px !important;
//   border: 2px solid pink
// }

.shipping-margin-t{
  margin-top: -10px !important;
  // border: 2px solid red;
}
.card-order-heading-summary{
  margin-top: 3px !important;
}
.checkout-cart-card-font{
  text-transform: capitalize !important;
 
}
.ship_heading{
  margin-left: -8px !important;
}
.shipping-method-margin{
  padding-top: 20px !important;
  // border: 2px solid red;
}