.form_wrap {
    max-width: 700px !important;
    width: 100%;
    margin: 28px auto 0 auto !important;
  }
 
  .email_field {
    width: 80%;
     display: block;
    height: calc(3.8rem + 2px);
    border-radius: 0 !important;
    border: 1px solid $body-color;
  }
  
  .email_field:focus {
      outline: none;
  }
  .back_forgotpassword:hover {
    background-color: $themeternary-btncolor;
  }
  
  .error_message {
    color:$error-color;
    font-size: 12px !important;
    text-align: left;
      
  }
  .forgot_passwordh4 {
    font-size: 2rem;
    text-transform: uppercase;
    color:$black-color;
    font-weight: 600;
  }
  .btn_forgotpassword {
      border-radius: 0;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
  }
  .border_btn {
      border-radius: 0 !important;
      font-size: 14px !important;
      border-color: $primary-color  !important;
      margin-right: 10px !important;
      font-weight: 600 !important;
      text-transform: uppercase !important;
      color: $dark-color !important;
  }

  .border_btn:hover {
    background-color: $themeternary-btncolor !important;
    color: $white-color !important;
  }
  .forgotpassword_p {
      font-size: 15px;
      color: $body-color;
      text-align: center;
      line-height: 20px;
  }
  .forgotpassword_label {
      color: $body-color;
      font-weight: 500;
  }
  .otp_alertbox {
    padding: 0px 5px;
    margin-left: 10px;
    margin-bottom: 4px;
    width: 54%;
    font-size: 12px;
  }
  @media (max-width: 991px) {
    .email_block {
      text-align: center;
    }
    .label {
      text-align: left !important;
      
    }
  }
  @media only screen and (min-width: 1030px) {
      .forgotpassword_p {  
          padding: 0 82px; 
      } 
      .error_message {
          text-align: left;
        }
      
  }