// Pagination 
.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.paginationBttns a{
    padding: 10px 16.5px;
    margin: 8px;
    border-radius: 20px;
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white !important;
    background-color: $themeternary-btncolor;
}

.paginationActive a{
    color: white !important;
    background-color: $themeternary-btncolor;
    border: 1px solid  $themeternary-btncolor;
}
 .previous .previousBttn {
    padding: 10px !important;
    margin: 8px !important;
    border-radius: 5px !important;
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}

.next .nextBttn{
    padding: 10px !important;
    margin: 8px !important;
    border-radius: 5px !important;
    border: 1px solid gray;
    color: gray;
    cursor: pointer;
}