.warranty-check {
  .warranty-card .warranty-cont{
    border: 1px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .custom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
